@model IEnumerable<MedWebApplication.Patient>

@{
    ViewData["Title"] = "Index";
}

<h3>Пацієнти</h3>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
		<tr class="table-light">
			<th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnyMajorDiseaseSufferedEarlier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
			<tr class="">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnyMajorDiseaseSufferedEarlier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div>
	<h3>Оберіть excel-файл для заватаження</h3>
	@using (Html.BeginForm("Import", "Patients", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
	{
		<div>
			Завантажте Excel-файл:
			<input type="file" name="fileExcel" id="fileExcel" />
			<div>
				<input type="submit" value="Завантажити" />
			</div>
		</div>
	}
</div>


<div style="padding-top: 20px;">
	<h3>Завантаження інформації в файл</h3>
	<a asp-action="Export">Завантажити</a>
</div>
